body{
   font-family: Inter;
   display: block;
  
}
.page-header {
  display: block;

}
   .main-navgation {
      text-align: center;
      display: block;
   }

   .main-manu {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 72px;
   }
  
   .main-menu-item {
      display: inline-block;
      vertical-align: middle;
      margin: 18px;
   }
   .main-menu-link {
      text-decoration: none;
      color: #000;
      font-size: 18px;
      line-height: 100%;
   }
   .images{
      background: #00BDC9;
      height: 552px;
      display: flex;
      padding: 92px 400px 92px 401px;
      justify-content: center;
      align-items: center;
   }
   .logo-images {
      
   
   }
   .container {
      margin-left: 225px;
      margin-right: 225px;
      padding: 88px 0px;
      flex-direction: column;
      box-sizing: border-box;
      align-items: center;

      }
      .title {
         color: #000;
         text-align: center;
         font-family: Inter;
         font-size: 48px;
         font-style: normal;
         font-weight: 600;
         line-height: 135%; /* 64.8px */
      }
      .content{
         color: #161616;
         font-family: Inter;
         font-size: 21px;
         font-style: block:
         font-weight: 500;
         line-height: 150%; /* 31.5px */                                                  
         display: block;  
      }                                                 

      .colortext {                                                   
         color: #04959E;                                                   
         font-family: Inter;                                                  
         font-size: 21px;                                                  
         font-weight: 600;
         line-height: 150%;
      }
      .text-list {
         flex-direction: column;
         align-items: flex-start;
        
      }
      .text-list-num {
         color: #161616;
         font-family: Inter;
         font-size: 18px;
         font-style: normal;
         font-weight: 400;
         line-height: 150%; /* 27px */
      }
      .button-line {
       display: inline-block;
      
       font-size: 18px;
       padding: 10px 24px;
       text-align: center;
       margin: 20px 10px;
       font-weight: bold;
       background-color: #04959E;
 
      }
    
       .button {
         display: flex;
         padding: 88px 0px;
         flex-direction: column;
         align-items: center;
         text-decoration: none;
         color: #FFF;

       }
       .line {
         height: 1px;
         align-self: stretch;
         background: #161616;
       }
       .end {
         display: block;
        
         padding: 16px 0px;
        
      }
      .and-page {
         color: #161616;
         text-align: center;
         font-family: Inter;
         font-size: 18px;
         font-weight: 400;
         line-height: 150%; /* 27px */
        
      }
      
 